<html>  
<body>  
	<meta charset="utf-8">  
	<!-- Rewrite examples in https://vuejs.org/v2/guide/index.html for the sake of unambiguity-->
  <script src="https://unpkg.com/vue"> </script>
  
  <div id="aaa">
		{{bbb}}
  </div> 

	<script> 
		var foo1 = new Vue({
			el: '#aaa',
			data: {
				bbb: 'Pass text from JS to HTML'
			}
		})
  </script><br>
  
  
	<div id="ccc">
		<span v-if="ddd">Visible if "ddd: true" in JS</span>
  </div> 

	<script>  
		var foo2 = new Vue({
			el: '#ccc',
			data: {
				ddd: true
			}
		})
  </script><br>
  
  
	<div id="eee">
		<li v-for="hhh in ggg"> {{ hhh.text }} </li>
  </div>
  
	<script>  
		var foo3 = new Vue({
			el: '#eee',
			data: {
				ggg: [
					{ id: 0, text: 'This' },
					{ id: 1, text: 'is' },
					{ id: 2, text: 'a' },
					{ id: 3, text: 'loop' }
				]
			}
		}) 
  </script><br>
  
  
	<div id="iii">
		<p>{{ kkk }}</p>
		<button v-on:click="jjj">Clicking</button>
  </div>
  
	<script> 
		var foo4 = new Vue({
			el: '#iii',
			data: {
				kkk: 'This will be reversed by'
			},
			methods: {
				jjj: function () {
				this.kkk = this.kkk.split('')
				this.kkk = this.kkk.reverse().join('')
				}
			}
		}) 
  </script><br>
  
  
	<div id="lll">
		<p>{{ mmm }}</p>
		<input v-model="mmm">
  </div>
  
	<script> 
		var this_is_omittable = new Vue({
			el: '#lll',
			data: { mmm: 'Pass text between JS and HTML' }
		})	
  </script><br>

	
	<div id="nnn">
		<ooo> Component will be inserted into HERE</ooo> 
  </div>
  
	<script> 
		Vue.component('ooo', { 
			template: '<li>Real component</li>'
		}) 
		new Vue({ el: '#nnn' })
  </script><br>

	
	<div id="ppp"> 
		<qqq 
			v-bind:this_is_end_1="middleman_1" 
			v-bind:this_is_end_2="middleman_2" 
		></qqq> 
  </div>
  
	<script>  
		Vue.component('qqq', {
			props: ['this_is_end_1', 'this_is_end_2'],
			template: '<li>{{ this_is_end_1 }} and {{ this_is_end_2.rrr }}</li>'
		}) 
		new Vue({
			el: '#ppp',
			data: {
				middleman_1: 'This_is_origin_1',
				middleman_2: {rrr: 'This_is_origin_2'}
			}
		})
	</script>
</body>
</html>

